@{
    ViewData["Title"] = "Início";
}

<br />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Shoppings</label>
            <select id="shopping" class="form-control" asp-items="ViewBag.IdShopping"></select>
        </div>
        <div class="form-group">
            <input id="adicionar" value="Adicionar" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <table class="table table-striped" id="tabelaShoppings">
                <thead>
                    <tr>
                        <th>Trajeto</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group">
            <input id="trajeto" value="Trajeto" class="btn btn-default" />
        </div>
    </div>
    <div class="col-md-4">
        <div id="map">
        </div>
    </div>
</div>